VITE_EMAILJS_SERVICE_ID=your_service_id
VITE_EMAILJS_NOTIFICATION_TEMPLATE_ID=portfolio_contact_notification_template_id
VITE_EMAILJS_AUTO_REPLY_TEMPLATE_ID=portfolio_contact_auto_reply_template_id
VITE_EMAILJS_PUBLIC_KEY=your_public_key